<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" [opened]="false">
      <app-sidebar id="sidebar-nav"></app-sidebar>
    </mat-drawer>
    
<div class="body-login">
    <div class="form rounded">
        <div id="logo">
            <img src="../../../../assets/images/assetsLOGIN/LOGIN_LOGOGM.png" class="cursor" alt="GMtransport"
                [routerLink]="['/home']">
        </div>
        <div class="contentForm">
            <form #useForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="content">
                    <div class="input-data">
                        <input type="text" name="empresa" #empresa="ngModel" [(ngModel)]="login.empresa"
                            placeholder="Empresa" required>
                        <small *ngIf="!empresa.valid && empresa.touched">
                            <br> El campo no es válido
                        </small>
                    </div>
                    <div class="input-data">
                        <input type="text" name="usuario" #usuario="ngModel" [(ngModel)]="login.usuario"
                            placeholder="Usuario" required>
                        <small *ngIf="!usuario.valid && usuario.touched">
                            <br> El campo no es válido
                        </small>
                    </div>
                    <div class="input-data">
                        <input type="password" name="pass" #pass="ngModel" [(ngModel)]="login.password"
                            placeholder="Contraseña" required>
                        <small *ngIf="!pass.valid && pass.touched">
                            <br> El campo no es válido
                        </small>
                    </div>
                    <small *ngIf="aviso != ''">
                        {{aviso}}
                    </small>
                    <input type="submit" value="ENVIAR" class="btn btn-success" [disabled]="useForm.invalid">
                </div>
            </form>
            <div class="imgs">
                <div>
                    <img src="https://seal.godaddy.com/images/3/en/siteseal_gd_3_h_l_m.gif" (click)="verifySeal()"
                        alt="SSL site seal - click to verify" srcset="" class="cursor">
                </div>
                <div class="contactos">
                    <tr class="tabla-contactos">
                        <td>
                            <p class="cabeza"><strong>MONITOREO GPS:</strong> </p>
                            <p class="horario"><strong>Servicio 24 horas</strong></p>
                            <p class="contacto">81 8161 7768<br>soporte.localiza@gmtransporterp.com</p>
                        </td>
                        <td>
                            <p class="cabeza"><strong>ADMINISTRACIÓN:</strong> </p>
                            <p class="horario"><strong>9:30 am a 7:30 pm (hora centro)</strong></p>
                            <p class="contacto">(686)514 0940<br>facturacionycobranza@gmtransporterp.com</p>
                        </td>
                        <td>
                            <p class="cabeza"><strong>LOCALIZACIÓN:</strong> </p>
                            <p class="horario"><strong>9:30 am a 7:30 pm (hora centro)</strong></p>
                            <p class="contacto">(686) 564 6772<br>soporte.localiza@gmtransporterp.com</p>
                        </td>
                        <td>
                            <p class="cabeza"><strong>ATN A CLIENTES Y SOPORTE:</strong></p>
                            <p class="horario"><strong>Lun-Vie 8:30 am a 8:30 pm (hora centro)</strong> </p>
                            <p class="contacto">(686)564 9263<br>servicio.soporte@gmtransporterp.com</p>
                        </td>
                        <td>
                            <p class="cabeza"><strong>VENTAS:</strong></p>
                            <p class="horario"><strong>9:30 am a 7:30 pm (hora centro)</strong></p>
                            <p class="contacto">(686)514 0943<br>ventas@gmtransporterp.com</p>
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-sidebar id="sidebar"></app-sidebar>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

    <div class="example-sidenav-content">
        <div class="example-button-container">
          <button mat-mini-fab color="black" mat-button (click)="drawer.toggle()" >
            <mat-icon>announcement</mat-icon>
          </button>
        </div>
    </div>
  </mat-drawer-container>
