<div class="imgPanel">
    <div class="container">
    <div class="cursor">
        <a href="https://www.gmtransport.mx/novedades"><img class="rounded" src="https://obs-banner.obs.na-mexico-1.myhuaweicloud.com/LOGIN_R1.png" alt=""></a>
    </div>
    </div>
    <div class="container">
        <div class="cursor">
            <a href="https://www.gmtransport.mx/novedades"><img class="rounded" src="https://obs-banner.obs.na-mexico-1.myhuaweicloud.com/LOGIN_R2.png"   alt=""></a>
        </div>
        </div>
        <div class="container">
            <div class="cursor">
                <a href="https://www.gmtransport.mx/cursos"><img class="rounded" src="https://obs-banner.obs.na-mexico-1.myhuaweicloud.com/LOGIN_R3.png"  alt=""></a>
            </div>
            </div>
            <div class="container">
                <div class="cursor">
                    <a href="https://www.gmtransport.mx/novedades"><img class="rounded" src="https://obs-banner.obs.na-mexico-1.myhuaweicloud.com/LOGIN_R4.png"  alt=""></a>
                </div>
                </div>

</div>
