<footer id="footer" class="footer">
    <div>
        <div class="foot">
            <div class="footer-left rounded">
                <span class="span">
                    Versión 9.0.60.16 <br>Copyright&copy; 2012 Julián Gaxiola Montoya. Todos los derechos reservados. <br>
                    Grupo GM Transport S.A. de C.V. Alhóndiga de granaditas #800, Col. Independencia Mexicali, <br>
                    Baja California, México, C.P. 21290
                </span>
            </div>
            <div class="footer-right rounded">
                <div class="links-foot">
                    <a href="https://www.gmtransport.com/"><strong>PÁGINA OFICIAL </strong> </a>|
                    <a href="https://hombre-camion.com/"> <strong> HOMBRE CAMIÓN </strong>   </a>|
                    <a href="https://gm-facturaelectronica.com/"><strong>  FACTURACIÓN ELECTRÓNICA </strong> </a>|
                    <a href="https://www.conduce087.com/"> <strong> BITÁCORA ELECTRÓNICA </strong></a>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</footer>