<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="push">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
    
    <app-navbar></app-navbar>
    <div class="example-sidenav-content">
        <div class="example-button-container">
          <button mat-mini-fab color="black" mat-button (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
    </div>
  </mat-drawer-container>
